# Binaries
grpc_client
test.grpc
*.exe
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# OS specifics
.DS_Store
.AppleDouble
.LSOverride
Icon


# IDEs
.idea/
.vscode/
*.swp
*.swo
